@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body
{
    background-color: white;
    font-family: 'Prompt', sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: $dark-color;
}

ul
{
    list-style: none;
}

img
{
    width: 100%;
}

